:root {
  --accent: #294eca;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/font/Inter.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/font/Inter.var.woff2?v=3.13") format("woff2");
}

.grid-left {
  -webkit-animation: fadein 0.5s ease; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
      -ms-animation: fadein 0.5s ease; /* Internet Explorer */
       -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
          animation: fadein 0.5s ease;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: #fff;
  background-color: #101010;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.grid-left {
  /* background-color: #000; */
  z-index: 0;
}

.grid-right {
  /* background-color: #151515; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@-moz-document url-prefix(){
  .grid-right {
    background-color: rgb(21, 21, 21, 0.9);
  }
  .controls-header {
    background-color: rgba(5, 5, 5, 0.5);
  }
}

.nav {
  position: absolute;
  top: 25px;
  left: 15px;
  z-index: 10;
}

input[type=file] {
  /* opacity: 0;
  position: absolute;
  z-index: -1; */
  /* display: none; */
}

.image-wrapper, .form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 50%;
}

.upload {
  background-color: #101010;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#uploads-img {
  width: 25%;
  border-radius: 5px;
}

#upload-button, .custom-file {
  margin-top: 15px;
}

#upload-button {
  width: 25%;
}

.image {
  margin-left: 2.5%;
  max-width: 95%;
  max-height: 95vh;
  transition: transform 0.2s ease;
  cursor: zoom-in;
}

.margin-top {
  margin-top: 15px;
}

label {
  margin: auto;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

.processing {
  background-color: #333;
  padding: 25px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  opacity: 0;
  z-index: 10;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: opacity 0.5s ease;
}

.controls-header {
  /* background-color: #050505; */
  padding: 15px;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(20%);
}

.controls-wrapper {
  padding: 15px;
  overflow-y: auto;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(40%);
}

.controls-section {
  opacity: 0.5;
  transition: opacity .2s;
}

.controls-section:hover {
  opacity: 1;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  display: inline;
}

h3 {
  font-weight: 400;
  margin: 15px 0 0 0;
}

span {
  font-weight: 700;
}

p.subtitle {
  font-style: italic;
  color: #bbb;
  margin-bottom: 5px;
}

.no-top-margin {
  margin-top: 0;
}

hr {
  margin: 50px 20px 40px 20px;
  border: solid 1px #333;
}

.button {
  background-color: var(--accent);
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: filter 0.2s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover {
  filter: brightness(1.25);
}

#buttonProcess {
  margin-left: 10px;
}

#buttonRevert {
  background-color: #b71c1c;
}

.controls-header {
  display: flex;
  justify-content: space-between;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  margin-top: 15px;
  appearance: none;
  width: 100%;
  height: 3px;
  background: var(--accent);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider:disabled {
  background:  #888;
  cursor: default;
}

.slider:disabled:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: none;
}