<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Astrophotography image enhancement honours project">
  <title>Astrophotography Image Enhancement</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
</head>

<body>
  <div class="nav">
    <a href="/" class="button">Upload</a>
  </div>
  <div class="grid">
    <div class="grid-left">
      <div class="image-wrapper">
        <div class="processing" id="processing">
          <h1>Processing...</h1>
        </div>
        <input type="checkbox" id="zoomCheck">
        <label for="zoomCheck">
          <img class="image" src="/static/uploads/{{image}}?updated={{dateTime}}" alt="">
        </label>
      </div>
    </div>
    <div class="grid-right">
      <div class="controls-header">
        <h1>Controls</h1>
        <div>
          <button type="button" class="button" id="buttonRevert" onclick="revert()">Revert</button>
          <button type="button" class="button" id="buttonProcess" onclick="process()">Update</button>
        </div>
      </div>
      <div class="controls-wrapper">
        <h2 class="no-top-margin">Getting Started</h2>
        <p class="subtitle">Make some changes, then click "Update" to see the results. If you don't like it, click "Revert" to delete all changes.</p>
        <br>
        <p class="subtitle">All actions are additive i.e. increasing brightness by 49% then 51% is the same as doig 100%.</p>
        <br>
        <p class="subtitle">If you don't change a value between pressing "Update", then changes aren't calculated.</p>
        <br>
        <p class="subtitle">Some changes may take a few seconds to process.</p>

        <hr>

        <form name="controlsForm" id="controlsForm" action="/process" method="POST">
          <input type="hidden" name="revert" value="{{revert}}" id="revert">
          <div class="controls-section">
            <h2 class="no-top-margin">Basic Adjustments</h2>
            <p class="subtitle">Some text explaining what the following settings do</p>

            <h3>Brightness &middot; <span id="spanBrightness">{{brightness}}%</span></h3>
            <div class="slidecontainer">
              <input type="range" name="sliderBrightness" min="-100" max="100" value="{{brightness}}" class="slider"
                id="sliderBrightness">
            </div>

            <h3>Contrast &middot; <span id="spanContrast">{{contrast}}%</span></h3>
            <div class="slidecontainer">
              <input type="range" name="sliderContrast" min="-100" max="100" value="{{contrast}}" class="slider"
                id="sliderContrast">
            </div>
          </div>

          <hr>

          <div class="controls-section">
            <h2>Denoising</h2>
            <p class="subtitle">Applies smoothing to reduce noise at the cost of losing detail in the image (may take a
              while)</p>

            <h3>Denoising Strength &middot; <span id="spanDenoise">{{denoise}}%</span></h3>
            <div class="slidecontainer">
              <input type="range" name="sliderDenoise" min="0" max="100" value="{{denoise}}" class="slider"
                id="sliderDenoise">
            </div>
          </div>

          <hr>

          <div class="controls-section">
            <h2>Star Enhancement</h2>
            <p class="subtitle">Detects stars in the image and increases their brightness</p>

            <h3>Enhancement Strength &middot; <span id="spanStar">{{enhance}}</span></h3>
            <div class="slidecontainer">
              <input type="range" name="sliderStar" min="0" max="5" value="{{enhance}}" class="slider" id="sliderStar">
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br>
        </form>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>